@import "../../../styles/function";
.section_title {
  font-weight: 500;
  font-size: px-to-rem(24px);
  line-height: px-to-rem(36px);
}

.section_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
