@mixin d-flex(
  $flex,
  $justify,
  $align,
  $gap,
  $direction: "row",
  $wrap: "nowrap"
) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
  flex-wrap: $wrap;
}


// types

// -----
$phone: 'phone';
$norm-mobile: 479px;

// -----
$tablet: 'tablet';
$min-tab: 768px;
$max-tab: 1124px;

// -----
$max-mobile: 'mobile';
$max-mob: 767px;

@mixin media($type: '') {
  @if $type == $max-mobile {
    @media only screen and (max-width: $max-mob) {
      @content;
    }
  } @else if $type == $tablet {
    @media only screen and (min-width: $min-tab) and (max-width: $max-tab) {
      @content;
    }
  }
}

@mixin response($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

@mixin response-min($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin response-range($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin desktop-hover() {
  @media (hover: hover) and (min-width: $desktop) {
    &:hover {
      @content;
    }
  }
}

@mixin desktop-properties() {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

@mixin hidenScrollBar() {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
    background-color: transparent;
  }
}

@mixin lineClamp($lines) {
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;

  /*stylelint-disable*/

  display: -webkit-box;
}

@mixin scrollbar($width, $radius, $trackColor, $thumbColor) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background: $thumbColor;
  }
}

@mixin textOverflow($overflow: ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: $overflow;
}