@import "../../../styles/function";
@import "../../../styles/mixins";

.header {
  padding: px-to-rem(12px) 0;
  background-color: #fff;
  transition: background-color 0.3s, box-shadow 0.3s, position 0.3s; /* Add transition */
  z-index: 1000;
}

.mobile_menu_icon {
  display: none;
  font-size: 28px;
}

.sticky {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  background-color: #fbfefb;
  top: 0px;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s, position 0.3s; /* Add transition */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;

  &_item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    a {
      color: #171717;
      font-weight: 500;
      font-size: px-to-rem(16px);
      line-height: px-to-rem(18.75px);
      transition: all 0.3s;

      &:hover {
        color: green;
      }
    }
  }
}

.menu_right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.selected a {
  color: green;
}

@include media("mobile") {
  .header {
    position: relative;
  }
  .mobile_menu_icon {
    display: block;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: red;
  }
}
