@import "../../../styles/mixins";

.feature_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background-color: #fbfefb;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  min-height: 300px;
  padding: 20px;
  &_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0;
  }

  &_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

@include media("tablet") {
  .feature_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media("mobile") {
  .feature_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
