@import "../../../styles/mixins";
@import "../../../styles/function";

.footer {
  padding: 50px 0;
  background-color: #f3f3f3;

  &_content {
    @include d-flex(flex, space-between, center, _);
    @include media("mobile") {
      flex-direction: column;
      gap: 20px;
    }

    .footer_menu {
      @include d-flex(flex, space-between, center, 30px);

      &_item {
        font-size: px-to-rem(24px);

        a {
          color: #000;
        }
      }
    }
  }
}
