@import "../../../styles/mixins";
@import "../../../styles/function";

.footer {
  padding: 30px 0;
  background-color: #0d251b;

  &_content {
    @include d-flex(flex, space-between, center, _);
    @include media("mobile") {
      flex-direction: column;
      gap: 20px;
    }
    color: #dff3df;

    .footer_menu {
      @include d-flex(flex, space-between, center, 30px);

      &_item {
        font-size: px-to-rem(24px);

        a {
          color: #fff;
        }
      }
    }
  }
}
